body {
  font-family: "Inter";
  background-color: aliceblue;
  color: #293264
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  gap: 200px;
}

.btn {
  height: 50px;
  width: 190px;
  border-radius: 15px;
  font-size: 21px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  cursor: pointer;
}

.btn-option{
  height: 30px;
  width: 120px;
  cursor: pointer;
  color: 293264;
  background-color: transparent;
  border-radius: 9999px;
  margin-right: 12px;
  max-width: 100%;
}

.btn-option:hover {
  background-color: chocolate;
  transition: background-color 0.5s ease;
}

.clicked {
  background-color: orangered;
}

.question {
  font-size:9px;
}

.instructions {
  margin-bottom: 40px;
}