body {
  font-family: "Inter";
  background-color: aliceblue;
  color: #293264
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  gap: 200px;
}

.btn {
  height: 50px;
  width: 190px;
  border-radius: 15px;
  font-size: 21px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  cursor: pointer;
}

.instructions {
  margin-bottom: 40px;
}